@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
	box-sizing: border-box;

}


.img-about{
	height: 250px;
	width: 250px;
	border: 2px solid green;
	margin: 0 auto;
	border-radius: 50%;
	background-image: url("../img/me.jpeg");
	background-position: center -2px;
	background-size: 230px;
}


.line{
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-top: 2px solid rgba(128, 128, 128, 0.726);
}

.asd{
	
	border: 2px solid red;
}


.skill-point .skill-text{
	visibility: hidden;
	width: 50px;
	background-color: black;
	color: #fff;
	border-radius: 6px;
	padding: 3px 0;
	position: absolute;
	z-index: 1;
}

.skill-point:hover .skill-text{
	visibility: visible;
}